@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}